/*----common-----*/
body{
	font-size: 63%;
	margin: 0px;
	padding: 0px;
 font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
*{
	box-sizing:border-box;/*-----修正padding,border影响盒模型----*/

}
a{
	text-decoration: none;


}
ul {

	list-style: none;
	padding: 0px;
	margin: 0px;


}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1em;
}
@media (min-width: 500px){
	h2 {
		font-size: 2.5em;
	}
	h3{
		font-size: 1.5em;
	}
}